fastapi
fastapi[standard]
sentry_sdk
sqlmodel
jwt
PyJWT
passlib
pydantic_setting
psycopg
emails
openai
aiofiles
langchain_community
pytesseract
langchain_openai
langchain_ollama
ipython 
google-cloud-vision
